body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#dash-container {
    width: 85%;
    height: 100%;
    margin-left: 15%;
    position: absolute;
    top: 0;
    left: 0;
}

iframe {
    width: 100%;
    height: auto;
    border: none;
    aspect-ratio: 1.7;
}

.menu {
    font-size: 18px;
    position: fixed;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px;
    border: 1px solid ;
    top: 0;
    left: 0;
    width: 14%;
    background-color:rgb(238, 238, 238);
    
  }

  .submenu {
    display: none;
  }
